.popup-styling{
    display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding-right: 21px !important;
  }
  
  .almaLogo {
    width: 200px;
    height: 65px;
  }

  .drawer-alma-logo {
    width: 80%;
    height: 35px;
  }

  .text-decoration {
    text-decoration: none;
  }